<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <a href="/auth/login">login</a>
    <a href="/">home</a>
    <h2>Welcome</h2>
  </body>
</html>
