<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>profile</title>
  </head>
  <body>
    <a href="/auth/logout">logout</a>
    <h2>welcome user <%= user.username %></h2>
    <img src="<%= user.photo %>" alt="" />
  </body>
</html>
